.center-content{
    text-align: center;
    align-content: center;
}

#login-body .form-div {
    width: 40%;
    padding: 0 50px;
    margin-top: 120px;
    margin-bottom: 120px;
}

 .footer-incomplete {
    height: 150px;
    width: 100%;
    position: absolute;
    background-color: lightgrey;
    bottom: 0;
}
 .footer{
    background-color: lightgrey;
    height: 150px;
}
.custom-nav {
    font-size: 20px;
}
.custom-nav li{
    padding: 0 2px;
    border-radius: 7px;
}
.custom-nav .active{
    color: red;
}
.custom-nav li:hover{
    background-color: lightgrey;
}
.custom-card {
    width: 100%;
    object-fit: contain;
}

ul.menu {
    list-style-type: none;
}

ul.menu li a {
    height: 60px;
    width : 60px;
    margin: 0 10px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    background: url("../assets/social-sprite.png") ;
}
ul.menu li.facebook a {
    background-position: 0 0;
}
ul.menu li.twitter a {
    background-position: -60px 0;
}
ul.menu li.linkedin a {
    background-position: -240px 0;
}

.btnCOOL {
    color: white;
    animation: glowing 1500ms infinite;
}
.btnCOOL:hover{
    color:whitesmoke;
    /*animation-play-state: initial;*/
    animation: emptyFrame;
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
}

@keyframes emptyFrame {
}

@keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 50px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.disable-for-form{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    z-index: 998;
    height: 100%;
    width: 100%;
}
.for-popup{
    position: absolute;
    z-index: 999;
}

.form-control-feedback{
    /*display: none;*/
}
